@{
    ViewData["Title"] = "Home Page";
}

<div  class="text-center">
    <h1 class="bs">Welcome</h1>
    <h4 class="bs">Teamwork Packages delivers premium quality printing and packaging services </h4>
    <br>
    <img src="~/gpkg.jpg" alt="goods packaging" />
</div>
